[Unit]
Description = Battery monitor
After=network-online.target
Wants=network-online.target

StartLimitIntervalSec=400
StartLimitBurst=10000000

[Service]
Environment=RUST_BACKTRACE=1
Restart=on-failure
ExecStart=/usr/bin/batt_monitor
RestartSec=5s

[Install]
WantedBy=multi-user.target
